    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center">Tarefa</th> 
            <th class="text-center">Pontuação máxima</th>
            <th class="text-center">Minha nota</th>
             <th class="text-center">Avaliada</th>        
          </tr>
        </thead>
        <tbody>
          <% TarefaAluno.joins(:tarefa).where("tarefas.modulo_id = ?", modulo.id).each do |tarefa| %>
            <tr>
              <td><%= tarefa.tarefa.nome %></td>
              <td><%= tarefa.tarefa.pontuacao %></td>
              <td><%= minha_nota(tarefa.id, @perfil.id) %></td>
              <td><%= tarefa.avaliada? ? 'Sim' : 'Não' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>




        
        
      