<div class="form-signin">
	<h2>Atualização de Explicação</h2>

	<%= render 'form', explicacao: @explicacao %>

	<div class="text-center">
		<%= link_to 'Voltar', explicacoes_path, class: "btn btn-md btn-danger btn-block" %>
	</div>
</div>
