<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  	<p>Prezado(a),</p>
    <br>
  	<p>Informamos que o Evento <b><%= @evento.nome %></b> do curso <b><%= @evento.curso.nome %></b>, marcado para <b><%= @evento.data_hora %></b>, foi <b>cancelado</b>!</p>

    <br>
    <p>Para mais detalhes, entre em contato com o(a) professor(a) curso!</p>
  </body>
</html>