<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Esta mensagem foi enviada por <b><%= @remetente %></b> do curso <b><%= @conversa.usuario_curso.curso.nome %></b> do <b>AGILE</b></p>

    <br>
    <p><b>Conteúdo da mensagem:</b></p>
    <div><%= @mensagem.to_s.html_safe %></div>
    
    <br>
    <p><b>Link para visualizar a mensagem recebida e respondê-la:</b> <%= link_to 'Visualizar Mensagem', @conversa %></p>
    <br>
  </body>

</html>
