
  	<p>Prezado <%= @aluno.nickname %>,</p>
  	<p>Parabéns!!!! Você passou de Nível no curso <%= @aluno.curso.nome %>: <%= @nivel.nome %>!!!  </p>
    <p>Para visualizar mais detalhes, acesse o curso!</p>

