
  	<p>Prezado(a) <%= @aluno.nickname %>,</p>
  	<p>Parabéns!!!! Você passou de Nível no curso <%= @aluno.curso.nome %>!</p>
  	<p>Nível atual: <%= @nivel.nome %>!!!</p>
  	<p>Continue realizando as Missões para conquistar avançar de Nível.  </p>
    <p>Para visualizar mais detalhes, acesse o curso!</p>

