<% @conversas.each do |conversa| %>

	<div class="card">

	 	<div class="card-header">Mensagens</div>

	 	<div class="card-header bg-info text-left">
		   <p class="card-text">Assunto: <%= conversa.assunto %></p>
		   <p class="card-text">Mensagem: <%= conversa.mensagem.to_s.html_safe %></p>
		</div>
		<div class="card-body bg-dark">
			<p class="card-text"><b>Enviada:</b> <%= conversa.created_at.strftime("%d/%m/%Y - %H:%M:%S") %> 
				<% if can? :new, Conversa %>
					<%= link_to "Responder", {controller: 'conversas', action: 'new', conversa_id: conversa.id }, class: "btn btn-danger btn-sm float-right" %>
				<% end %>
			</p>
		</div>
		
	</div>
<% end %>