<div class="card">
  <div class="card-header">Mensagens por assunto</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Assunto</th>
        </tr>
      </thead>
      <tbody>
        <% @conversas.each do |conversa| %>
          <tr>
            <td><%= link_to conversa.assunto, controller: 'conversas', action: 'conversas_professor', assunto: conversa.assunto %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>