<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



<p>
  <strong>Usuario:</strong>
  <%= @curso_certificado.usuario %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @curso_certificado.curso %>
</p>

<p>
  <strong>Hash validacao:</strong>
  <%= @curso_certificado.hash_validacao %>
</p>

<p>
  <strong>Data finalizacao:</strong>
  <%= @curso_certificado.data_finalizacao %>
</p>


