<div class="form-signin">
	<h2>Atualização de Conteúdo</h2>

	<%= render 'form', conteudo: @conteudo %>

	<div class="text-center">
		<%= link_to 'Voltar', conteudos_path, class: "btn btn-md btn-danger btn-block" %>
	</div>
</div>