<% @comentario.each do |comentario| %>
<div id="task-form2" style="display:none;"></div>
<div class="card">
  <div class="card-header bg-secondary">
    <%= comentario.usuario.nome %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= comentario.texto.to_s.html_safe %></p>
  </div>
  

  <div class="card-footer bg-dark">
    <% if can? :edit, Comentario %>
      <%= link_to  '', edit_comentario_path(comentario), class: "fa fa-pencil", remote: true %>
    <% end %>
    <% if can? :destroy, Comentario %>
      <%= link_to  '', comentario, method: :delete, id:"tasks", data: { confirm: 'Deseja realmente realmente remover o Comentário?'}, class: "fa fa-trash", remote: true %>
    <% end %>
  </div>
</div>
<% end %>