<%= form_with(model: comentario, local: true) do |form| %>
  <div class="d-flex justify-content-center">
   <div class="field  ">
     <%= form.text_area :comentario %>
   </div>
  </div>
   <%= form.hidden_field :forum_id , :value => @forum.id%>

   <div class="actions d-flex justify-content-center">
     <%= form.submit "Comentar" ,{controller: 'comentarios', action: 'new', forum_id: @forum.id, class: "btn btn-primary"}  %>
   </div>

<% end %>
