<div class="form-signin">
	<h2>Cadastro de Usuário no Curso</h2>

	<%= render 'form', usuario_curso: @usuario_curso %>

	<div class="text-center">
		<%= link_to 'Voltar', usuario_curso_index_path, class: "btn btn-md btn-danger btn-block" %>
	</div>

</div>
