<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:c="urn:schemas-microsoft-com:office:component:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:x2="http://schemas.microsoft.com/office/excel/2003/xml"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="14" ss:Bold="1"/>
    </Style>

    <Style ss:ID="titleStyle">
     <Alignment ss:Vertical="Center"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" ss:Size="12" ss:Bold="1"/>
    </Style>

   
  </Styles>

  <ss:Worksheet ss:Name="Sheet1">

    <Table>
        <Row>
            <Cell ss:StyleID="titleStyle"><Data ss:Type="String">Notas da Turma:</Data></Cell>
            <Cell><Data ss:Type="String">Curso: <%= @perfil.curso.nome %> </Data></Cell>
        </Row>
        <Row>
        </Row>
        <Row>
            <Cell ss:StyleID="titleStyle"><Data ss:Type="String">#</Data></Cell>
            <Cell ss:StyleID="titleStyle"><Data ss:Type="String">Nickname</Data></Cell>
            <Cell ss:StyleID="titleStyle"><Data ss:Type="String">Pontuação Total</Data></Cell>
        </Row>
        <% @alunos.each_with_index do |aluno, index| %>
            <Row>
                <Cell><Data ss:Type="String"><%=index + 1 %></Data></Cell>
                <Cell><Data ss:Type="String"><%= aluno.nickname %></Data></Cell>
                <Cell><Data ss:Type="String"><%= formata_pontos(aluno.pontuacao) %></Data></Cell>
            </Row>   
        <% end %>  
   
    </Table>

    <x:WorksheetOptions/>
  </ss:Worksheet>
</Workbook>