<div class="card">
    <div class="card-header">Resultado da Pesquisa - Gráficos de Barra</div>

    <div class="table-responsive">
        <ul class="list-group">
            <%- @question_group_results.each_with_index do |result, index| %>
                <% data = result.results %>
                
                <li class="list-group-item bg-primary text-white font-weight-bold"> <%= index +=1 %>- <%= result.question.pergunta %></li>
                <li><%= column_chart data, label: "Valor", messages: {empty: "Nenhum dado"}, colors: ["blue"] %><br></li>                                            
                
            <%end%> 
        </ul>
    </div>
</div>
