<div class="card">
    <div class="card-header">Resultado da Pesquisa - Gráficos de Pizza</div>

    <div class="table-responsive">
        <ul class="list-group">
            <%- @question_group_results.each_with_index do |result, index| %>
                <% data = result.results %>
                
                <li class="list-group-item bg-primary text-white font-weight-bold"> <%= index +=1 %>- <%= result.question.pergunta %></li>
                <li><%= pie_chart data, library: { pieSliceText: 'value-and-percentage' }, messages: {empty: "Nenhum dado"} %><br></li>                                            
                
            <%end%> 
        </ul>
    </div>
</div>
