<div class="card">
    
  <div class="card text-white o-hidden h-100 curso">    
    <div class="card-footer card-footer-size bg-primary">
      <p class="card-text"><b><%= mensagem.usuario_curso.nickname %> 
      	<%= mensagem.created_at.strftime("%d/%m/%Y - %H:%M:%S") %> diz:</b> <%= mensagem.texto %></p>              
    </div>
  </div>	
	
</div>