<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        nome do usuário
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted">às <%= mensagem.created_at %> diz</span><br>
          <%= mensagem.texto %>
        </p>
      </div>
    </div>

  </div>
</div>