<div class="card">
  <div class="card-header bg-primary text-left">
    Imagem <%= mensagem.usuario.nome %> <%= mensagem.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
  </div>
    <p class="card-text text-secondary"> <%= mensagem.texto %></p>
</div>
