<div class="card">
    <div class="card-header">Atualização de Curso</div> 
    	<div class="card-body">
			<%= render 'form', curso: @curso %>

			<div class="text-center">
				<%= link_to 'Voltar', cursos_path, class: "btn btn-md btn-secondary" %>
			</div>
		</div>
</div>