<div class="form-signin">
	<h2>Cadastro de Cursos</h2>

	<%= render 'form', curso: @curso %>

	<div class="text-center">
		<%= link_to 'Voltar', cursos_path, class: "btn btn-md btn-danger btn-block" %>
	</div>

</div>