<div class="card">
    <div class="card-header">Cadastrar Curso</div> 

    <div class="card-body">
		<%= render 'form', curso: @curso %>

		<div class="text-center">
			<%= link_to 'Voltar', root_path, class: "btn btn-md btn-danger" %>
		</div>
	</div>

</div>