<div class="card">

  <div class="card-header">Notas da Turma </div>

  <% @missoes.each do |missao| %>
    <h5 class="p-3 mb-2 bg-info text-white text-center"><b>Módulo:</b> <%= link_to missao.modulo.nome, missao.modulo, class: "text-light" %></h5>
    <h6 class="p-3 mb-2 bg-secondary text-white text-center"><b>Missao:</b> <%= link_to missao.nome, missao, class: "text-light" %></h6>
    <% if missao.tipo == 'Tarefa' %>
    	<%= render partial: "tarefas/tarefas_turma", locals: {tarefa: missao.tarefa} %>
    <% end %>
  <% end %>

</div>
