<div class="card">

  <div class="card-header">Notas da Turma </div>

  <% @tarefas.each do |tarefa| %>
    <h5 class="p-3 mb-2 bg-info text-white text-center"><b>Módulo:</b> <%= link_to tarefa.modulo.nome, tarefa.modulo, class: "text-light" %></h5>
    <h6 class="p-3 mb-2 bg-secondary text-white text-center"><b>Tarefa:</b> <%= link_to tarefa.nome, tarefa, class: "text-light" %></h6>
    <%= render partial: "tarefas/tarefas_turma", locals: {tarefa: tarefa} %>
  <% end %>

</div>
