<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  	<p>Prezado,</p>

  	<p>Fique atento!!! Há um novo evento para o curso <%= @evento.curso.nome %>!</p>
    <p>Evento: <%= @evento.nome %></p>
    <p>Data: <%= @evento.data.strftime("%d/%m/%Y") %></p>
    <p>Hora: <%= @evento.hora.strftime("%H:%M:%S") %></p>
    <p>Para visualizar mais detalhes acesse o curso!</p>
  </body>
</html>