<%= render partial: "answers/errors", locals: {answer: answer} %>


<li><b><%= @contador +=1 %>- <%= answer.question.pergunta %><% if answer.question.rules[:presence] == "1" %>*<% end %></b></li>
<li><%= f.date_field :resposta, :id => 'data',  :onBlur => "ValidaData(data);", :size => 10 %> (formato: dd/mm/aaaa) </li>


