<center>
	<%- if answer.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
		    <h2><%= pluralize(answer.errors.count, "erro") %> - Não foi possível salvar a Pesquisa!</h2>
			<ul>
				<%- answer.errors.full_messages.each do |message| %>
				  <li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</center>
