<%= render partial: "answers/errors", locals: {answer: answer} %>


<li class="pesquisa"><b><%= @contador +=1 %>- <%= answer.question.pergunta %><% if answer.question.rules[:presence] == "1" %>*<% end %></b></li>
<li><%= f.text_area :resposta, :id => 'long', class: "form-control borda-textarea"  %> </li>


