<%= render partial: "answers/errors", locals: {answer: answer} %>

<li><b><%= @contador +=1 %>- <%= answer.question.pergunta %><% if answer.question.rules[:presence] == "1" %>*<% end %></b></li>
<li><%= f.number_field :resposta %> </li>


