	<tr>
		<td><b><br><%= @contador +=1 %>- <%= answer.question.pergunta %><% if answer.question.rules[:presence] == "1" %>*<% end %></b></td>
	</tr>
	<tr>
		<td><%= f.number_field :resposta %> </td>
	</tr>


