<div class="modal-header bg-dark text-light">
  <h5 class="modal-title" id="exampleModalLabel">Termo de uso - AGILE</h5>
  <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<p class="text-center font-weight-bold">Termo de Uso do Ambiente Virtual de Aprendizagem AGILE</p>
  <p class="text-center font-weight-bold">Instituto Federal de Educação, Ciência e Tecnologia Fluminense - Campus Campos Centro</p>

  <p class="font-weight-bold fonte-termo">1. Descrição do AGILE</p>
  <p class="text-justify fonte-termo">1.1. O AGILE é um ambiente virtual de Aprendizagem Gamificado para realização de cursos online disponibilizado pelo campus Campos Centro do IFFluminense;</p>
  <p class="text-justify fonte-termo">1.2. O nome AGILE é um acrônimo para Attractive, Gamified, Interactive, Learning Environment (Ambiente de Aprendizagem atrativo, gamificado e interativo.).</p>

  <p class="font-weight-bold fonte-termo">2. Termos utilizados</p>
  <p class="text-justify fonte-termo">2.1. Ambiente Virtual de Aprendizagem (AVA): sistema AGILE e todos os seus recursos disponíveis (cursos, materiais, etc.);</p>
  <p class="text-justify fonte-termo">2.2. Usuário: utilizador do AGILE, registrado e identificado por login e senha;</p>
  <p class="text-justify fonte-termo">2.3. Gestor: usuário com função de administração dentro do AGILE;</p>
  <p class="text-justify fonte-termo">2.4. Professor: usuário responsável por gerenciar cursos e conteúdos no AGILE;</p>
  <p class="text-justify fonte-termo">2.5. Aluno: usuário participante dos cursos do AGILE;</p>
  <p class="text-justify fonte-termo">2.6. Código do curso: código utilizado pelo professor para controlar o acesso de usuários ao curso.</p>

  <p class="font-weight-bold fonte-termo">3. Da utilização do AGILE</p>
  <p class="text-justify fonte-termo">3.1. O acesso ao AVA se dá através do cadastro na página inicial do AGILE (agile.centro.iff.edu.br);</p>
  <p class="text-justify fonte-termo">3.2. O cadastro e a inscrição nos cursos do AGILE não ocorre de maneira automática e não está vinculada ao sistema acadêmico do IFFluminense, cabendo a pessoa interessada realizar o seu cadastro neste;</p>
  <p class="text-justify fonte-termo">3.3. A criação de conta e criação/inserção de cursos no AGILE não implica qualquer tipo de vínculo com o IFFluminense;</p>
  <p class="text-justify fonte-termo">3.4. A utilização do AGILE é gratuita;</p>
  <p class="text-justify fonte-termo">3.5. A solicitação de inscrição nos cursos virtuais do AGILE depende de prévio cadastro do usuário;</p> 
  <p class="text-justify fonte-termo">3.6. Os dados fornecidos durante a realização do cadastro serão mantidos em sigilo e não serão repassados a terceiros;</p>
  <p class="text-justify fonte-termo">3.7. Os dados de acesso são pessoais e intransferíveis, devendo ser mantidos em sigilo e utilizados apenas para a autenticação no sistema;</p>
  <p class="text-justify fonte-termo">3.8. O AGILE se destina exclusivamente a atividades acadêmicas, podendo ser utilizado por toda a comunidade acadêmica (professores, alunos e técnicos administrativos), exercendo a função de professor ou aluno do AVA;</p>
  <p class="text-justify fonte-termo">3.9. O AGILE não poderá ser utilizado para divulgação de conteúdos não acadêmicos, ofensivos, ameaças e discriminações de qualquer espécie;</p>
  <p class="text-justify fonte-termo">3.10. Os casos omissos neste Termo serão decididos pela gestão do AGILE;</p>
  <p class="text-justify fonte-termo">3.11. Qualquer usuário do AGILE é responsável pelo cumprimento deste regulamento, não podendo alegar o seu desconhecimento;</p>
  <p class="text-justify fonte-termo">3.12. Os critérios para seleção dos inscritos nos cursos são definidos pelos professores responsáveis por estes e estão presentes na descrição dos cursos;</p> 
  <p class="text-justify fonte-termo">3.13. Dentro do AGILE não é permitido o envio de mensagens que contenham ofensas e palavras de baixo calão. Também não é permitido que os espaços de debate dos cursos sejam utilizados para tratar de assuntos alheios aos temas propostos;</p>
  <p class="text-justify fonte-termo">3.14. Não é permitida a utilização dos cursos, conteúdos, materiais ou quaisquer outros instrumentos de aprendizagem disponibilizados no AGILE para fins comerciais ou que não respeitem os direitos autorais, ficando os infratores sujeitos às sanções civis e criminais correspondentes, nos termos das Leis 9.279/96, 9.610/98 e 9.609/98, conforme detalhado na Política de Proteção aos Direitos Autorais;</p>
  <p class="text-justify fonte-termo">3.15. Os usuários terão de respeitar a propriedade intelectual, não copiando, modificando, usando ou divulgando em todo ou em parte, textos, artigos, programas ou qualquer outro material do AGILE, sem a permissão do seu autor;</p>
  <p class="text-justify fonte-termo">3.16. A gestão do AGILE se reserva ao direito de alterar os presentes termos de uso a qualquer tempo, notificando o usuário em caso de mudanças significativas;</p>
  <p class="text-justify fonte-termo">3.17. A gestão do AGILE se reserva ao direito de excluir usuários que não cumpram as normas expostas, usem linguagem ou elementos gráficos inconvenientes ou ofensivos;</p> 
  <p class="text-justify fonte-termo">3.18. A gestão do AGILE se reserva ao direito de excluir Curso ou Conteúdo disponibilizado, sem necessidade de aviso prévio;</p>
  <p class="text-justify fonte-termo">3.19. É rigorosamente proibido o envio de arquivos (upload) que tenham como finalidade a decodificação de senhas, a leitura de dados de terceiros, conteúdo pornográfico, propagação de vírus, destruição de outros arquivos ou o não funcionamento do AGILE.</p>
      
  <p class="font-weight-bold fonte-termo">4. Perfis de acesso</p>
  <p class="text-justify fonte-termo">4.1. Os perfis de usuário do AGILE em cada curso são:</p>
  <p class="text-justify fonte-termo">4.1.1. Perfil de Professor: pode visualizar e editar o curso, interagir e avaliar todas as atividades dos alunos e inserir novos usuários participantes no curso;</p>
  <p class="text-justify fonte-termo"> 4.1.2. Perfil de Aluno: pode visualizar os materiais do curso, interagir e participar de todas as atividades.</p>

  <p class="font-weight-bold fonte-termo">5. Deveres do usuário</p>
  <p class="text-justify fonte-termo">5.1. Preencher o cadastro com informações completas e verdadeiras. A apresentação de informações falsas sujeita o responsável às penas previstas em lei;</p>
  <p class="text-justify fonte-termo">5.2. Apresentar documentos que comprovem quaisquer informações prestadas, se solicitado;</p>
  <p class="text-justify fonte-termo">5.3. Preencher, no cadastro, seu e-mail individual, podendo ser pessoal e/ou institucional;</p>
  <p class="text-justify fonte-termo">5.4. Entrar em contato com a gestão do AGILE, em caso de problemas com os seus dados cadastrais;</p>
  <p class="text-justify fonte-termo">5.5. A segurança da senha cadastrada fornecida é de responsabilidade exclusiva do usuário, que não deverá compartilhá-la com terceiros, sendo o Usuário o único responsável por eventual uso inadequado decorrente de acessos indevidos.</p>
      
  <p class="font-weight-bold fonte-termo">6. Uso do AGILE por menores de idade</p>
  <p class="text-justify fonte-termo">6.1. Menores de 18 anos de idade precisam de autorização expressa de um responsável ou representante legal para participação nos cursos do AGILE por meio do preenchimento e entrega do “Termo de consentimento livre e esclarecido” na coordenação do MPET (Mestrado Profissional em Ensino e suas Tecnologias) na sala 104 do 1º andar do Bloco F do campus Campos Centro do IFFluminense. %= link_to ' Clique aqui para download Termo de consentimento livre e esclarecido.', root_url+'Termo_consentimento.pdf', { target: '_blank' } %></p>
   
      
  <p class="font-weight-bold fonte-termo">7. Coleta de dados</p>
  <p class="text-justify fonte-termo">7.1. Poderão ser coletados dados a respeito da utilização do AGILE com o propósito de melhorar a experiência de uso deste. Contudo, nenhum dado pessoal será divulgado ou repassado a terceiros;</p>
  <p class="text-justify fonte-termo">7.2. Poderão ser coletados dados a respeito da forma de acesso ao sistema, como sistema operacional e o navegador utilizado, tempo e quantidade de acessos, erros gerados ao executar alguma ação, entre outros. Também poderá ser solicitada participação em pesquisas que tenham como propósito avaliar o AGILE e/ou seus cursos.</p>
    
  <p class="font-weight-bold fonte-termo">8. Aceitação dos termos de uso</p>
  <p class="text-justify fonte-termo">8.1. A aceitação destes Termos de Uso pelo Usuário se dará no ato do cadastro no AGILE ao marcar a opção “Declaro que li e concordo com o termo de uso”;</p>
  <p class="text-justify fonte-termo">8.2. Caso não concorde com os presentes Termos de Uso, recomendamos que não prossiga com o cadastramento AGILE.</p>
  
  <p class="font-weight-bold fonte-termo">9. Suporte e contato com a gestão do AGILE</p>
  <p class="text-justify fonte-termo">9.1. Em caso de dúvidas ou problemas na utilização do AVA AGILE poderá ser feito contato com a equipe de gestão por meio do e-mail agile.centro@iff.edu.br.</p>
    
  <p class="font-weight-bold fonte-termo">10. Disposições Finais:</p>
  <p class="text-justify fonte-termo">10.1. A violação dos termos estabelecidos neste documento sujeitarão o praticante a ação disciplinar consistente com a natureza da violação, incluindo o cancelamento de inscrições e privilégios de acesso ao AGILE.</p>
    
</div>
<div class="modal-footer bg-dark">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      
</div>