<div class="form-signin">
	<h2>Atualização de Material</h2>

	<%= render 'form', material: @material %>

	<div class="text-center">
		<%= link_to 'Voltar', materiais_path, class: "btn btn-md btn-danger btn-block" %>
	</div>
</div>
