/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	background-color: #0d277e;
 	color: #FFFFFF;
 }

 label{
 	font-weight: bold;
 }

 a{
 	color: #FFFFFF;
 }

.btn-outline-success{
  margin-right: 10px;
}

h2{
  text-align: center;
  font-weight: bold;
}

.login{
  text-align: right;
  padding-right: 10px;
}

.nav-item > a{
  color: #19b7ec;
  font-weight: bold;
}

hr{
  background-color: #215EF0;
  margin: 0px;
}

ul{
  width: auto;
}

.list-group-item{
  color: #1e1e9f;
  border: 2px solid #1a61f3;
}

.show{
  background-color: #1a61f3;
  color: #FFFFFF;
  border-radius: 5px;
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
