/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome
 *= require_self
 */


body {
  height: 100%;
  background-color: #3361e3;
  color: #0d2fa4;
}

.navbar-expand, .navbar-expand-lg{
  background-color: #1b115d;
}

.navbar-brand{
  font-weight: bold;
  font-size: 30px;
}

.nav-link{
  font-size: 17px;
  font-weight: bold;
}

.nav-sidebar{
  padding-top: 20px; 
  
}

.navbar-toggler {
  border-color: #FFFFFF;
} 

.navbar-nav .nav-link
{
  color: #76c3f4;
}

.color-sidebar{
  background-color: #281e89;
}

.sidebar-avatar{
  margin: 0px -15px 0px -15px;
}

.agile{
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.card-header{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  background-color: #24249f;
}

.alert-success{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.alert-danger{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.btn{
  margin-bottom: 10px;
}



.list-group{
  margin-bottom: 10px;
}

label{
  color: blue;
  font-weight: bold;
}

.breadcrumb-item{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}


a.linkcurso  {
  color: #FFFFFF;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: bold;
}

.copyright{
  font-style: italic;
}

.active{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
}

td{
  text-align: center;
}

.card-footer{
  text-align: center;
  font-size: 18px;
  background-color: #2323ab;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
}

.curso{
  text-align: center;
  background-color: #1b115d;
  font-size: 22px;
}

.conversa{
  font-size: 16px;
}

.borda { 
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px;
}

.card-footer-size{
  font-size: 14px;
  color: #FFFFFF;
  text-align: justify;
  padding: 5px 5px 5px 20px;
}

.card-header2{
  padding: 5px;
  font-size: 16px;
 
  width: 100%;
  background-color: #2b2b89;
}

.comentario{
 margin-bottom: 15px; 
}

.perfil{
  padding: 5px;
}

.menu_lateral{
  background-color: #1b115d;
}

.alert-lateral{
  padding: 5px;
  margin-top: 15px;
  text-align: center;
}

.text-orange{
  color: #f36811;
}
.text-purple{
  color: #4b2483;
}

.modulo{
  font-weight: bold;
  font-size: 20px;
}
.modulo-item{
  margin-top: 15px;
}

.modal-dialog{
  overflow-y: initial !important
}

.modal-body{
  height: 250px;
  overflow-y: auto;
}

.fonte-termo{
  font-size: 14px;
}

.icone-curso{
  font-size: 36px;
}

.sticky-footer{
  background-color: #FFFFFF;
}

.chat{
  height: 250px;
  overflow-y: auto;
}

.borda-textarea{
  border: 1px solid #195bbf;
}

.pesquisa{
  color: #0f117b;
  text-align: justify;
}

.forum{
  font-size: 14px;
}

.mensagem {
  padding: 10px;
}

