body{
	background-image: -webkit-linear-gradient(top, #0099ff, #ffffff);
	margin: 0px;
}

.borda{
	border-style: double;
	border-width: 20px;
	height: 96%;
	border-color: #24249f;
}

.agile{
	font-weight: bold;
	font-size: 80px;
	text-align: center;
	color: #24249f;
}

.certificado{
	font-weight: bold;
	font-size: 70px;
	color: black;
	font-style: italic;
	text-align: center;
}


.texto{
	font-size: 35px;
	text-align: justify;
	color: #000000;
	padding: 30px;
}

.data{
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
	color: #000000;
}

.codigo-validacao{
	padding-top: 40px;
	text-align: right;
	font-size: 25px;
	padding-right: 20px;
	vertical-align: bottom;
}
.rodape{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: #24249f;
}

footer{
	display: flex;
	position: absolute;
	
	bottom: 0;
}