.topo{
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
} 
  
.tag1{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background: #d0d5db;
  border: 2px solid #000;
}
  
.tag2{
  font-size: 16px;
  padding: 5px;
  background: #f0eaea;
  border: 2px solid #000;
  text-align: center;
  font-weight: bold;
}

.tag3{
  font-size: 14px;
  border: 2px solid #000;
  text-align: center;
  padding: 5px;
  page-break-inside: avoid;
}
  
.tag4{
  font-size: 20px;
  padding: 5px;
  border: 2px solid #000;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background: #232527;
}
    
.tabela {
  border: 2px solid #000;
  width: 100%;
  page-break-inside:avoid;
}

.tabela  > tbody > tr > td, 
.tabela  > tbody > tr > th, 
.tabela  > tfoot > tr > td, 
.tabela  > tfoot > tr > th, 
.tabela > thead > tr > td,
.tabela  > thead > tr > th{
  border: 2px solid #000;
}
  
tr{
  page-break-inside: avoid;
}

.rodape{
  text-align: center;
  font-size: 14;
  font-weight: bold;
}

.impresso2{
  font-size: 12px;
  font-style: italic;
  text-align: right;
}