<div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">

	<div class="text-center mb-4">
	    <%= image_tag ("coelho2.png"), class: "mb-4 img-responsive", width: "100", height: "100" %>
	    <h1 class="agile">AGILE</h1>
  	</div> 
    <p class="agile">Em caso de dúvidas ou problemas no AGILE, entre em contato com a gestão do AGILE por meio do e-mail 
        <span style="color: #f21515;">agile.centro@iff.edu.br</span>.</p>
	
		<div class="text-center">
			<%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary " %>
		</div>
</div>
