<div class="card">

  <div class="card-header">Gerenciamento do AGILE</div>

  <div class="text-center">
    <br>
    <%= image_tag ("coelho2.png"), class: "img-responsive", width: "100", height: "100" %>
    <h1 class="agile text-primary">AGILE</h1>
  </div> 

  <br>
  <div class="alert alert-danger" role="alert">
    Em caso de dúvidas, consulte o Manual do Administrador.
  </div>

</div>