<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">

	<div class="text-center mb-4">
	    <%= image_tag ("coelho2.png"), class: "mb-4 img-responsive", width: "100", height: "100" %>
	    <h1 class="agile">AGILE</h1>
  	</div> 

	<div class="card">
  		<div class="card-header">Sobre</div>
		<p class="agile-texto">Em caso de dúvidas ou problemas no AGILE, entre em contato com a gestão do AGILE por meio do e-mail: 
			<span class="text-primary">agile.centro@iff.edu.br</span>.</p>
		
		<div class="card-footer text-muted">
      		<%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
		</div>
	</div>
</div>
