<div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">

	<div class="text-center mb-4">
	    <%= image_tag ("coelho2.png"), class: "mb-4 img-responsive", width: "100", height: "100" %>
	    <h1 class="agile">AGILE</h1>
  	</div> 
	<p class="agile">O AGILE é um Ambiente Virtual de Aprendizagem Gamificado desenvolvido por Isadora Lopes Barbosa Vasconcellos, como Produto Educacional, durante o Mestrado Profissional em Ensino e suas Tecnologias (MPET) do <i>campus</i> Campos Centro do IFFluiminense.</p>
	
</div>
