<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">

	<div class="text-center mb-4">
	    <%= image_tag ("coelho2.png"), class: "mb-4 img-responsive", width: "100", height: "100" %>
	    <h1 class="agile">AGILE</h1>
  	</div> 

	<div class="card">
  		<div class="card-header">Sobre</div>

		<p class="agile-texto">O AGILE é um Ambiente Virtual de Aprendizagem Gamificado desenvolvido por Isadora Lopes Barbosa Vasconcellos, como Produto Educacional, durante o Mestrado Profissional em Ensino e suas Tecnologias (MPET) do <i>campus</i> Campos Centro do IFFluiminense.</p>
		
		<div class="text-center mb-4">
			<p class="agile-texto"><br><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />O AVA <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">AGILE</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://agile.centro.iff.edu.br" property="cc:attributionName" rel="cc:attributionURL">Isadora Lopes Barbosa Vasconcellos</a> está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons - Atribuição-NãoComercial 4.0 Internacional</a>.</p>
		</div>

		<div class="card-footer text-muted">
      		<%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
		</div>
   
	</div>
</div>
