<div class="card">

  <div class="card-header">E-mail</div>

  <ul class="list-group">
    <li class="list-group-item"><b>Destinatário:</b> <%= @email.destinatario.nickname %></li>
    <li class="list-group-item"><b>Assunto:</b> <%= @email.assunto %></li>
    <li class="list-group-item"><b>Mensagem:</b> <%= @email.mensagem.to_s.html_safe %></li>
    <li class="list-group-item"><b>Enviado em:</b> <%= @email.created_at.strftime("%d/%m/%Y") %></li>     
  </ul>

</div>