<div class="form-signin">
	<h2>Atualização de Tema dos Cursos</h2>

	<%= render 'form', tema_curso: @tema_curso %>

	<div class="text-center">
		<%= link_to 'Voltar', temas_cursos_path, class: "btn btn-md btn-danger btn-block" %>
	</div>