<div class="card">
    <div class="card-header">Atualização de Tema dos Cursos</div> 

		<div class="card-body">
			<%= render 'form', tema_curso: @tema_curso %>

			<div class="text-center">
				<%= link_to 'Voltar', tema_cursos_path, class: "btn btn-md btn-secondary" %>
			</div>
		</div>
	</div>
</div>